body {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.caja {
    width: 48px;
    height:48px;
    border: 1px solid black;
}

#caja1 {
    background-color: red;
}

#caja2 {
    background-color: green;
}

#caja3 {
    background-color: blue;
}